<div class="like" id="<%= picture.id %>">
  <%= link_to like_path(id: picture.id), method: :post do %>
    <div class="like-btn text-center" picture_id="<%= picture.id %>">
      <span class="<%= picture.heart_class(current_user) %>"></span>
    </div>
  <% end %>
  <div class="likes-message"><%= picture.likes_message(current_user) %></div>
</div> <!-- end like -->
